<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suseok.run.model.dao.EmailVerificationDao">

    <!-- Insert or Update email verification record -->
    <insert id="insertEmailVerification">
        INSERT INTO email_verification (email, verification_code, expires_at)
        VALUES (#{email}, #{verificationCode}, #{expiresAt})
        ON DUPLICATE KEY UPDATE
        verification_code = #{verificationCode},
        expires_at = #{expiresAt};
    </insert>

    <!-- Get email verification record by email -->
    <select id="selectByEmail" resultType="com.suseok.run.model.entity.EmailVerification">
        SELECT * FROM email_verification WHERE email = #{email};
    </select>

    <!-- Delete email verification record by email -->
    <delete id="deleteByEmail">
        DELETE FROM email_verification WHERE email = #{email};
    </delete>

</mapper>
